<h1>TIC TAC TOE</h1>
@if(!hasWinner && !hasDraw){<h2>Turno del jugador {{jugador}}</h2>}
@if(hasWinner){<h2>Ha ganado el jugador {{jugador}}</h2>}
@if (hasDraw) { <h2>Empate</h2> }
<div class="d-flex flex-wrap gap-3 justify-content-center">
    <div>
        <div class="card">
            <h2>Instrucciones</h2>
            <p>El juego consiste en un tablero de 3x3 donde dos jugadores se turnan para colocar su símbolo (X o O) en
                una
                celda vacía. El objetivo es ser el primero en conseguir tres de sus símbolos en línea, ya sea
                horizontal,
                vertical o diagonalmente. Si todas las celdas se llenan y ningún jugador ha logrado alinear tres
                símbolos,
                el juego termina en empate.</p>
        </div>
    </div>

    <div class="tablero">
        <div class="m-3">
            @for (fila of tablero; track fila; let i = $index) {
            <div class="fila">
                @for (columna of fila; track columna; let j = $index) {
                <input class="celdas" type="button" (click)="onClick(i,j)" value={{columna}}>
                }
            </div>
            }
        </div>

        @if (hasWinner) { <button class="tertiary-button" (click)="resetGame()">Limpiar tablero</button> }
        <button class="secondary-button" [routerLink]="['/']">Volver al home</button>
    </div>

    <div class="card">
        <h2>Historial de partidas</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                @for (resultado of marcador; track resultado; let i = $index) {
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{resultado}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>



</div>